


    <strong>Lista de Usuarios</strong>
 
    <hr />



    <div class="form-group">
        <div class="card text-center ">
            <div class="card-header bg-dark" >
                <ul class="nav nav-tabs card-header-tabs" >
                    <li class="nav-item">
                        <a  class= "nav-link" ui-sref="Usuarios({Id:0})">Nuevo Usuario</a>
                    </li>
                 
                
                </ul>
            </div>
            <div class="card-body">
                <div class="table">
                    <div  style="height:100px;width:100%" ng-grid="DetalleLista"></div>
                </div>
            </div>
        </div>
    </div>
    



